**/*~
**/*.o
**/*.a
**/.DS_Store
**/*.dSYM
.DS_Store
*.sw[oprst]
????-*.patch
/TAGS
doxygen/html
doxygen/latex
doc/*
XCode/
obj/

test/test
test/test
test/test
extlib/makefile-libBoost
extlib/makefile-libBoost
extlib/makefile-libBoost
extlib/makefile-libBoost
extlib/makefile-libEigen
extlib/makefile-libBoost
extlib/makefile-libEigen
extlib/makefile-libNetCDF
test/test
